doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')    
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='#') Inventario v0.1
          ul.nav
            li.active
              a(href='#') Home
            li.active
              a(href='#') Sobre Mi
            li.active
              a(href='#') Contacto

    .container-fluid
      .hero-unit
        h1 Sistema de control de perifericos
        p Sistema dedicado a llevar un estricto control sobre el equipamiento informatico de tus clientes. Lleva actualizada informacion de computadores,impresoras y otros perifericos.
        p
          a.btn.btn-primary.btn-large(href='#') Mas informacion

