script(src="/javascripts/home.index.coffee",type="text/coffeescript")
script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDAPt2sOB0JtlQgTO6crlJiIklSrpS150Q&sensor=false")
.hero-unit
  h1 Escritorio - HOME


